  <!-- Toolbar -->
<mat-toolbar color="primary" class="toolbar">
    <span>Fido Tracker</span>
    <mat-icon (click)="sidenav.toggle()">settings</mat-icon>
</mat-toolbar>

<mat-sidenav-container class="sidenav-cont">
  <mat-sidenav #sidenav class="settings-menu">
    <div class="side-nav-item">
      <mat-icon inline=true style="vertical-align: bottom">access_time</mat-icon>
      Refresh Frequency
    </div>
    <!-- <div>
      <div>
        1 hour
      </div>
      <div>
          2 hours
      </div>
      <div>
          3 hours
      </div>
      <div>
          4 hours
      </div>
    </div> -->
    <div class="side-nav-item">
      <mat-icon inline=true style="vertical-align: bottom">person</mat-icon>
      Sign Out
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <!-- Tab Selection -->
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Map">
          <app-device-info></app-device-info>
          <div>
            <span style="font-style: italic">Updated {{lastUpdated}} ago</span>
            <mat-icon inline=true class="refresh-icon">refresh</mat-icon>
          </div>
          <div>
<!--             Display map here
            <div #map style="width:100%;height:400px"></div> -->
            <img class="image" src="assets/img/map.png">
          </div>
          </mat-tab>
          <mat-tab label="History">
            <app-device-info></app-device-info>
            <img class="image" src="assets/img/map.png">
          </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<router-outlet></router-outlet>